




WalletFrame {
border-image: url(':/images/walletFrame_bg') 0 0 0 0 stretch stretch;
border-top:0px solid #000;
margin:0;
padding:0;
}

QStatusBar {
background-color:#ffffff;
}

QAction{
background-color:#ffffff;
color:#f8f6f6;

}

.QFrame {
background-color:transparent;
border:0px solid #fff;
}

QMenuBar {
background-color:#fff;
}

QMenuBar::item {
background-color:#fff;
color:#333;
}

QMenuBar::item:selected {
background-color:#f8f6f6;
}

QMenu {
background-color:#f8f6f6;
}

QMenu::item {
color:#333;
}

QMenu::item:selected {
background-color:#f2f0f0;
color:#333;
}

QToolBar {
background-color:#2c99ad;
border:0px solid #000;
padding:0;
margin:0;
}

QToolBar > QToolButton {
background-color:#2c99ad;
border:0px solid #333;
min-height:2.5em;
padding: 0em 1em;
font-weight:bold;
color:#fff;
}

QToolBar > QToolButton:checked {
background-color:#fff;
color:#333;
font-weight:bold;
}

QMessageBox {
background-color:#F8F6F6;
}

QProgressBar {
color:#1f778c;
border:1px solid grey;
border-radius:5px;
height:10px;
background-color:transparent;
}

QProgressBar::chunk {
background-color:#1f778c;
width: 10px;
height:10px;
}

QTabWidget {
background-color:#f2f2f2;
}

QTabWidget::pane {
background-color:#f2f2f2;
border:1px solid #c2c2c2;
}

QTabBar {
background-color:#f2f2f2;
color:#333;
}

QTabBar::tab:hover:!selected {
background-color:#dedbe5;
}

QWidget {
selection-background-color:#2c99ad; 
selection-color:#fff;
outline:0; 
}

QGroupBox {
background-color:#fcfcfc;
color:#333;
}

QToolTip {
background-color:#dedbe5;
color:#333;
}

QTextEdit {
background-color:#fff;
color:#333;
}



QLabel { 
font-size:12px;
color:#333333;
}

.QRadioButton { 
color:#333333;
}

.QCheckBox { 
color:#333333;
background-color:transparent;
}

.QCheckBox:hover {
background-color:transparent;
}

.QValidatedLineEdit, .QLineEdit { 
border: 1px solid #2c99ad;
font-size:11px;
min-height:25px;
outline:0;
padding:3px;
background-color:#fcfcfc;
color:#333333;
}

.QLineEdit:!focus {
font-size:12px;
}

.QValidatedLineEdit:disabled, .QLineEdit:disabled {
background-color:#f2f2f2;
}



QPushButton { 
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #64ACD2, stop: .1 #2c99ad, stop: .95 #2c99ad, stop: 1 #1D80B5);
border:0;
border-radius:3px;
color:#ffffff;
font-size:12px;
font-weight:normal;
padding-left:25px;
padding-right:25px;
padding-top:5px;
padding-bottom:5px;
}

QPushButton:hover {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #108da6, stop: .1 #108da6, stop: .95 #008da6, stop: 1 #008da6);
}

QPushButton:focus {
border:none;
outline:none;
}

QPushButton:pressed {
border:1px solid #333;
}

QComboBox { 
border:1px solid #2c99ad;
padding: 3px 5px 3px 5px;
background:#fcfcfc;
min-height:25px;
color:#818181;
}

QComboBox:checked {
background:#f2f2f2;
}

QComboBox:editable {
background:#2c99ad;
color:#616161;
border:0px solid transparent;
}

QComboBox::drop-down {
width:25px;
border:0px;
}

QComboBox::down-arrow {
border-image: url(':/images/downArrow') 0 0 0 0 stretch stretch;
}

QComboBox QListView {
background:#fff;
border:1px solid #333;
padding-right:1px;
padding-left:1px;
color:#818181;
}

QComboBox QAbstractItemView::item {
margin:4px;
}

QComboBox::item {
color:#818181;
}

QComboBox::item:alternate {
background:#fff;
}

QComboBox::item:selected {
border:0px solid transparent;
background:#f2f2f2;
}

QComboBox::indicator {
background-color:transparent;
selection-background-color:transparent;
color:transparent;
selection-color:transparent;
}

QAbstractSpinBox {
border:1px solid #2c99ad;
padding: 3px 5px 3px 5px;
background:#fcfcfc;
min-height:25px;
color:#818181;
}

QAbstractSpinBox::up-button {
subcontrol-origin: border;
subcontrol-position: top right;
width:21px;
background:#fcfcfc;
border-left:0px;
border-right:1px solid #2c99ad;
border-top:1px solid #2c99ad;
border-bottom:0px;
padding-right:1px;
padding-left:5px;
padding-top:2px;
}

QAbstractSpinBox::up-arrow {
image:url(':/images/upArrow_small');
}

QAbstractSpinBox::down-button {
subcontrol-origin: border;
subcontrol-position: bottom right;
width:21px;
background:#fcfcfc;
border-top:0px;
border-left:0px;
border-right:1px solid #2c99ad;
border-bottom:1px solid #2c99ad;
padding-right:1px;
padding-left:5px;
padding-bottom:2px;
}

QAbstractSpinBox::down-arrow {
image:url(':/images/downArrow_small');
}



QHeaderView { 
background-color:transparent;
outline:0;
}

QHeaderView::section { 
qproperty-alignment:center;
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 0.25, stop: 0 #2c99ad, stop: 1 #2c99ad);
color:#fff;
min-height:25px;
font-weight:bold;
font-size:11px;
border:0;
border-right:0px solid #fff;
padding-left:5px;
padding-right:5px;
padding-top:2px;
padding-bottom:2px;
}

QHeaderView::section:last {
border-right:0;
}

.QScrollArea {
background:transparent;
border:0;
}

.QTableView { 
background:transparent;
border:1px solid #333;
}

QTableView::item { 
background-color:#fcfcfc;
font-size:12px;
}

QTableView::item:selected { 
background-color:#2c99ad;
color:#fff;
}

QTableWidget { 
background-color:red; 
border:1px solid #333;
}

QTableWidget:focus, QTableView, QTableView:focus { 
outline:0;
background:transparent;
}

QTreeWidget { 
background-color:#fcfcfc;
alternate-background-color:#f2f2f2;
color:#333;
}

QScrollBar { 

}

QScrollBar:vertical { 
border:0;
background:#ffffff;
width:18px;
margin:18px 0px 18px 0px;
}

QScrollBar:horizontal { 
border:0;
background:#ffffff;
height:18px;
margin:0px 18px 0px 18px;
}


QScrollBar::handle:vertical { 
background:#e0e0e0;
min-height:10px;
}

QScrollBar::handle:horizontal { 
background:#e0e0e0;
min-width:10px;
}

QScrollBar::add-page, QScrollBar::sub-page { 
background:#F8F6F6;
}

QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical, QScrollBar::add-line:horizontal, QScrollBar::sub-line:horizontal { 
background-color:#F8F6F6;
border: 1px solid #f2f0f0;
width:16px;
height:16px;
}

QScrollBar::add-line:vertical:pressed, QScrollBar::sub-line:vertical:pressed, QScrollBar::add-line:horizontal:pressed, QScrollBar::sub-line:horizontal:pressed {
background-color:#e0e0e0;
}

QScrollBar::sub-line:vertical { 
subcontrol-position:top;
subcontrol-origin: margin;
}

QScrollBar::add-line:vertical { 
subcontrol-position:bottom;
subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal { 
subcontrol-position:left;
subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal { 
subcontrol-position:right;
subcontrol-origin: margin;
}

QScrollBar:up-arrow, QScrollBar:down-arrow, QScrollBar:left-arrow, QScrollBar:right-arrow { 
width:10px;
height:10px;
}

QScrollBar:up-arrow {
background-image: url(':/images/upArrow_small');
}

QScrollBar:down-arrow {
background-image: url(':/images/downArrow_small');
}

QScrollBar:left-arrow {
background-image: url(':/images/leftArrow_small');
}

QScrollBar:right-arrow {
background-image: url(':/images/rightArrow_small');
}

QSlider::handle:horizontal {
background-color:#f2f2f2;
border:1px solid #c2c2c2;
border-radius:10px;
}

QSlider::sub-page:horizontal {
background-color:#2c99ad;
border-color:#c2c2c2;
border-radius:3px;
}

QSlider::add-page:horizontal {
background-color:#dedede;
border:1px solid #c2c2c2;
border-radius:3px;
}



QDialog {
background-color: #f8f6f6;
}

QDialog .QTabWidget {
border-bottom:1px solid #333;
}

QDialog .QTabWidget::pane {
border: 1px solid #d7d7d7;
}

QDialog .QTabWidget QTabBar::tab {
background-color:#f2f0f0;
color:#333;
padding-left:10px;
padding-right:10px;
padding-top:5px;
padding-bottom:5px;
border-top: 1px solid #d7d7d7;
}

QDialog .QTabWidget QTabBar::tab:first {
border-left: 1px solid #d7d7d7;
}

QDialog .QTabWidget QTabBar::tab:last {
border-right: 1px solid #d7d7d7;
}

QDialog .QTabWidget QTabBar::tab:selected, QDialog .QTabWidget QTabBar::tab:hover {
background-color:#ffffff;
color:#333;
}

QDialog .QTabWidget .QWidget {
background-color:#fff;
color:#333;
}

QDialog .QTabWidget .QWidget QAbstractSpinBox {
min-height:15px;
}

QDialog .QTabWidget .QWidget QAbstractSpinBox::down-button {
width:15px;
}

QDialog .QTabWidget .QWidget QAbstractSpinBox::up-button {
width:15px;
}

QDialog .QTabWidget .QWidget QComboBox {
min-height:15px;
}




QDialog#OpenURIDialog QLabel#label { 
font-weight:bold;
}

QDialog#OpenURIDialog QPushButton#selectFileButton { 
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 128), stop: .95 rgba(250, 250, 250, 255), stop: 1 #ebebeb);
border:1px solid #d2d2d2;
color:#616161;
padding-left:10px;
padding-right:10px;
}

QDialog#OpenURIDialog QPushButton#selectFileButton:hover {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 255), stop: .95 rgba(240, 240, 240, 255), stop: 1 #ebebeb);
color:#333;
}

QDialog#OpenURIDialog QPushButton#selectFileButton:pressed {
border:1px solid #9e9e9e;
}



QDialog#SignVerifyMessageDialog QPushButton#addressBookButton_SM { 
background-color:transparent;
padding-left:10px;
padding-right:10px;
}

QDialog#SignVerifyMessageDialog QPlainTextEdit { 
border:1px solid #2c99ad;
background-color:#fff;
}

QDialog#SignVerifyMessageDialog QPushButton#pasteButton_SM { 

background-color:transparent;
padding-left:15px;
}

QDialog#SignVerifyMessageDialog QLineEdit:!focus { 
font-size:10px;
}

QDialog#SignVerifyMessageDialog QPushButton#copySignatureButton_SM { 

background-color:transparent;
padding-left:10px;
padding-right:10px;
}

QDialog#SignVerifyMessageDialog QPushButton#clearButton_SM { 
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 128), stop: .95 rgba(250, 250, 250, 255), stop: 1 #ebebeb);
border:1px solid #d2d2d2;
color:#616161;
padding-left:10px;
padding-right:10px;
}

QDialog#SignVerifyMessageDialog QPushButton#clearButton_SM:hover {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 255), stop: .95 rgba(240, 240, 240, 255), stop: 1 #ebebeb);
color:#333;
}

QDialog#SignVerifyMessageDialog QPushButton#clearButton_SM:pressed {
border:1px solid #9e9e9e;
}

QDialog#SignVerifyMessageDialog QPushButton#addressBookButton_VM { 
background-color:transparent;
border:0;
padding-left:10px;
padding-right:10px;
}

QDialog#SignVerifyMessageDialog QPushButton#clearButton_VM { 
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 128), stop: .95 rgba(250, 250, 250, 255), stop: 1 #ebebeb);
border:1px solid #d2d2d2;
color:#616161;
padding-left:10px;
padding-right:10px;
}

QDialog#SignVerifyMessageDialog QPushButton#clearButton_VM:hover {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 255), stop: .95 rgba(240, 240, 240, 255), stop: 1 #ebebeb);
color:#333;
}

QDialog#SignVerifyMessageDialog QPushButton#clearButton_VM:pressed {
border:1px solid #9e9e9e;
}



QWidget#AddressBookPage {
background-color:#F8F6F6;
}

QWidget#AddressBookPage QPushButton#newAddress { 
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 128), stop: .95 rgba(250, 250, 250, 255), stop: 1 #ebebeb);
border:1px solid #d2d2d2;
color:#616161;
padding-left:10px;
padding-right:10px;
}

QWidget#AddressBookPage QPushButton#newAddress:hover {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 255), stop: .95 rgba(240, 240, 240, 255), stop: 1 #ebebeb);
color:#333;
}

QWidget#AddressBookPage QPushButton#newAddress:pressed {
border:1px solid #9e9e9e;
}

QWidget#AddressBookPage QPushButton#copyAddress { 
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 128), stop: .95 rgba(250, 250, 250, 255), stop: 1 #ebebeb);
border:1px solid #d2d2d2;
color:#616161;
padding-left:10px;
padding-right:10px;
}

QWidget#AddressBookPage QPushButton#copyAddress:hover {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 255), stop: .95 rgba(240, 240, 240, 255), stop: 1 #ebebeb);
color:#333;
}

QWidget#AddressBookPage QPushButton#copyAddress:pressed {
border:1px solid #9e9e9e;
}

QWidget#AddressBookPage QPushButton#deleteAddress { 
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 128), stop: .95 rgba(250, 250, 250, 255), stop: 1 #ebebeb);
border:1px solid #d2d2d2;
color:#616161;
padding-left:10px;
padding-right:10px;
}

QWidget#AddressBookPage QPushButton#deleteAddress:hover {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 255), stop: .95 rgba(240, 240, 240, 255), stop: 1 #ebebeb);
color:#333;
}

QWidget#AddressBookPage QPushButton#deleteAddress:pressed {
border:1px solid #9e9e9e;
}

QWidget#AddressBookPage QTableView { 
font-size:12px;
}

QWidget#AddressBookPage QHeaderView::section { 
min-width:260px;
}



QWidget#PrivacyDialog QFrame {
background-color:transparent;
border:1px solid #000;
}

QWidget#PrivacyDialog QFrame#labelMintStatus {

background-color:#eee;



border: 1px inset gray;
}

QWidget#PrivacyDialog QLabel {
border:0px solid #000;
}

QWidget#PrivacyDialog QLabel#zULOLabel {
font-size:14px;
color:#ffffff;
background-color:#2c99ad;
}

QWidget#PrivacyDialog QLabel#oULOLabel {
font-size:14px;
color:#ffffff;
background-color:#2c99ad;
}

QWidget#PrivacyDialog QPushButton {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #64ACD2, stop: .1 #2c99ad, stop: .95 #2c99ad, stop: 1 #1D80B5);
border:0;
border-radius:3px;
color:#ffffff;
font-size:12px;
font-weight:normal;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}

QWidget#PrivacyDialog QPushButton:hover {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #2e9aaa, stop: .1 #2e9aae, stop: .95 #2e9aae, stop: 1 #2c99ad);
}

QWidget#PrivacyDialog QPushButton:focus {
border:none;
outline:none;
}

QWidget#PrivacyDialog QPushButton:pressed {
border:1px solid #333;
}

QWidget#PrivacyDialog QProgressBar#obfuscationProgress { 
border: 1px solid #818181;
border-radius: 1px;
margin-right:43px;
text-align: right;
color:#818181;
}

QWidget#PrivacyDialog QProgressBar#obfuscationProgress::chunk {
background-color: #2c99ad;
width:1px;
}




QDialog#AskPassphraseDialog QLabel#passLabel1, QDialog#AskPassphraseDialog QLabel#passLabel2, QDialog#AskPassphraseDialog QLabel#passLabel3 {
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:170px;
min-height:33px; 
}


QDialog#OptionsDialog QValueComboBox, QDialog#OptionsDialog QSpinBox {
margin-top:5px;
margin-bottom:5px;
}

QDialog#OptionsDialog QValidatedLineEdit, QDialog#OptionsDialog QValidatedLineEdit:disabled, QDialog#OptionsDialog QLineEdit, QDialog#OptionsDialog QLineEdit:disabled {
qproperty-alignment: 'AlignVCenter | AlignLeft';
min-height:20px;
margin-top:0px;
margin-bottom:0px;
padding-top:1px;
padding-bottom:1px;
}

QDialog#OptionsDialog > QLabel {
qproperty-alignment: 'AlignVCenter';
min-height:20px;
}

QDialog#OptionsDialog QWidget#tabDisplay QValueComboBox {
margin-top:0px;
margin-bottom:0px;
}

QDialog#OptionsDialog QLabel#label_3 { 
qproperty-alignment: 'AlignVCenter | AlignCenter';
color:#818181;
padding-bottom:8px;
}

QDialog#OptionsDialog QCheckBox {
min-height:20px;
}

QDialog#OptionsDialog QCheckBox#displayAddresses {
min-height:33px;
}



QDialog#RPCConsole QWidget#tab_info QLabel#label_11, QDialog#RPCConsole QWidget#tab_info QLabel#label_10 { 
qproperty-alignment: 'AlignBottom';
min-height:25px;
min-width:180px;
}

QDialog#RPCConsole QWidget#tab_peers QLabel#peerHeading { 
color:#2c99ad;
}

QDialog#RPCConsole QTableView#peerWidget::item { 
color:#333;
}

QDialog#RPCConsole QPushButton#openDebugLogfileButton {
max-width:60px;
}

QDialog#RPCConsole QTextEdit#messagesWidget { 
border:0;
background-color:#fcfcfc;
color:#333;
}

QDialog#RPCConsole QLineEdit#lineEdit { 
margin-right:5px;
}

QDialog#RPCConsole QPushButton#clearButton { 
background-color:transparent;
padding-left:10px;
padding-right:10px;
}

QDialog#RPCConsole .QGroupBox #line { 
background-color:#2c99ad;
}

QDialog#RPCConsole .QGroupBox #line_2 { 
background:#fff;
}




QDialog#HelpMessageDialog QScrollArea * {
background-color:#fff;
}

QDialog#HelpMessageDialog QScrollBar:vertical, QDialog#HelpMessageDialog QScrollBar:horizontal {
border:0;
}


QDialog#AboutDialog QLabel#label, QDialog#AboutDialog QLabel#copyrightLabel, QDialog#AboutDialog QLabel#label_2 { 
margin-left:10px;
}

QDialog#AboutDialog QLabel#label_2 { 
margin-right:10px;
}


QDialog#EditAddressDialog QLabel {
qproperty-alignment: 'AlignVCenter | AlignRight';
min-height:27px;
font-weight:normal;
padding-right:5px;
}



QWidget .QFrame#frame { 
min-width:490px;
}

QWidget .QFrame#frame > .QLabel {
min-width:190px;
font-weight:normal;
min-height:30px;
}

QWidget .QFrame#frame .QLabel#label_5 { 
qproperty-alignment: 'AlignVCenter | AlignLeft';
min-width:160px;
background-color:transparent;
color:#2c99ad;
font-weight:bold;
font-size:14px;
margin-right:5px;
padding-right:5px;
}

QWidget .QFrame#frame .QLabel#labelWalletStatus { 
qproperty-alignment: 'AlignVCenter | AlignLeft';
margin-left:3px;
}

QWidget .QFrame#frame .QLabel#labelSpendable { 
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
margin-left:18px;
}

QWidget .QFrame#frame .QLabel#labelWatchonly { 
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
margin-left:16px;
}

QWidget .QFrame#frame .QLabel#labelBalanceText { 
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:160px;
background-color:#2c99ad;
color:#fff;
margin-right:5px;
padding-right:5px;
font-weight:bold;
font-size:14px;
min-height:35px;
}

QWidget .QFrame#frame .QLabel#labelBalance { 
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
font-weight:bold;
color:#2c99ad;
margin-left:0px;
}

QWidget .QFrame#frame .QLabel#labelWatchAvailable { 
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
margin-left:16px;
}

QWidget .QFrame#frame .QLabel#labelPendingText { 
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:160px;
background-color:#2c99ad;
color:#fff;
margin-right:5px;
padding-right:5px;
font-weight:bold;
font-size:14px;
min-height:35px;
}

QWidget .QFrame#frame .QLabel#labelUnconfirmed { 
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
margin-left:0px;
}

QWidget .QFrame#frame .QLabel#labelWatchPending { 
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
margin-left:16px;
}

QWidget .QFrame#frame .QLabel#labelImmatureText { 
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:160px;
background-color:#2c99ad;
color:#fff;
margin-right:5px;
padding-right:5px;
font-weight:bold;
font-size:14px;
min-height:35px;
}

QWidget .QFrame#frame .QLabel#labelImmature { 
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
margin-left:0px;
}

QWidget .QFrame#frame .QLabel#labelWatchImmature { 
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
margin-left:16px;
}

QWidget .QFrame#frame .QLabel#labelTotalText { 
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:160px;
background-color:#2c99ad;
color:#fff;
margin-right:5px;
padding-right:5px;
font-weight:bold;
font-size:14px;
min-height:35px;
}

QWidget .QFrame#frame .QLabel#labelTotal { 
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
margin-left:0px;
}

QWidget .QFrame#frame .QLabel#labelWatchTotal { 
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
margin-left:16px;
}

QWidget .QFrame#frame_4 .QLabel#label_5z_3 { 
qproperty-alignment: 'AlignVCenter | AlignLeft';
min-width:160px;
background-color:transparent;
color:#2c99ad;
font-weight:bold;
font-size:14px;
margin-right:5px;
padding-right:5px;
}

QWidget .QFrame#frame_4 .QLabel#labelzBalanceText { 
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:160px;
background-color:#2c99ad;
color:#fff;
margin-right:5px;
padding-right:5px;
font-weight:bold;
font-size:14px;

}

QWidget .QFrame#frame_4 .QLabel#labelzBalance { 
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
font-weight:bold;
color:#2c99ad;
margin-left:0px;
}

QWidget .QFrame#frame_4 .QLabel#labelzBalanceUnconfirmedText { 
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:160px;
background-color:#2c99ad;
color:#fff;
margin-right:5px;
padding-right:5px;
font-weight:bold;
font-size:14px;

}

QWidget .QFrame#frame_4 .QLabel#labelzBalanceUnconfirmed { 
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
font-weight:bold;
color:#2c99ad;
margin-left:0px;
}

QWidget .QFrame#frame_4 .QLabel#labelzBalanceMatureText { 
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:160px;
background-color:#2c99ad;
color:#fff;
margin-right:5px;
padding-right:5px;
font-weight:bold;
font-size:14px;

}

QWidget .QFrame#frame_4 .QLabel#labelzBalanceMature { 
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
font-weight:bold;
color:#2c99ad;
margin-left:0px;
}

QWidget .QFrame#frame_4 .QLabel#labelzBalanceImmatureText { 
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:160px;
background-color:#2c99ad;
color:#fff;
margin-right:5px;
padding-right:5px;
font-weight:bold;
font-size:14px;

}

QWidget .QFrame#frame_4 .QLabel#labelzBalanceImmature { 
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
font-weight:bold;
color:#2c99ad;
margin-left:0px;
}

QWidget .QFrame#frame_3 .QLabel#label_5z { 
qproperty-alignment: 'AlignVCenter | AlignLeft';
min-width:160px;
background-color:transparent;
color:#2c99ad;
font-weight:bold;
font-size:14px;
margin-right:5px;
padding-right:5px;
}

QWidget .QFrame#frame_3 .QLabel#labelBalanceTextz { 
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:160px;
background-color:#2c99ad;
color:#fff;
margin-right:5px;
padding-right:5px;
font-weight:bold;
font-size:14px;

}

QWidget .QFrame#frame_3 .QLabel#labelBalancez { 
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
font-weight:bold;
color:#2c99ad;
margin-left:0px;
}

QWidget .QFrame#frame_3 .QLabel#labelzBalanceTextz { 
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:160px;
background-color:#2c99ad;
color:#fff;
margin-right:5px;
padding-right:5px;
font-weight:bold;
font-size:14px;

}

QWidget .QFrame#frame_3 .QLabel#labelzBalancez { 
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
font-weight:bold;
color:#2c99ad;
margin-left:0px;
}

QWidget .QFrame#frame_3 .QLabel#labelLockedBalanceText { 
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:160px;
background-color:#2c99ad;
color:#fff;
margin-right:5px;
padding-right:5px;
font-weight:bold;
font-size:14px;

}

QWidget .QFrame#frame_3 .QLabel#labelLockedBalance { 
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
font-weight:normal;
color:#2c99ad;
margin-left:0px;
}

QWidget .QFrame#frame_3 .QLabel#labelUnLockedBalanceText { 
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:160px;
background-color:#2c99ad;
color:#fff;
margin-right:5px;
padding-right:5px;
font-weight:bold;
font-size:14px;

}

QWidget .QFrame#frame_3 .QLabel#labelUnLockedBalance { 
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
font-weight:normal;
color:#2c99ad;
margin-left:0px;
}

QWidget .QFrame#frame_3 .QLabel#labelTotalTextz { 
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:160px;
background-color:#2c99ad;
color:#fff;
margin-right:5px;
padding-right:5px;
font-weight:bold;
font-size:14px;

}

QWidget .QFrame#frame_3 .QLabel#labelTotalz { 
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
font-weight:bold;
color:#2c99ad;
margin-left:0px;
}



QWidget .QFrame#frame_2 { 
min-width:410px;
min-height:100px;
margin-right:20px;
margin-left:0;
margin-top:0;
background-image: url(':/images/tesra_logo_horizontal');
background-repeat:none;
}

QWidget .QFrame#frame_2 .QLabel#label_4 { 
min-width:180px;
color:#2c99ad;
margin-left:67px;
margin-top:83px;
margin-right:5px;
padding-right:5px;
font-weight:bold;
font-size:15px;
min-height:24px;
}

QWidget .QFrame#frame_2 .QLabel#labelTransactionsStatus { 
qproperty-alignment: 'AlignBottom | AlignRight';
min-width:93px;
margin-top:83px;
margin-left:16px;
margin-right:5px;
min-height:16px;
}

QWidget .QFrame#frame_2 QListView { 
font-weight:normal;
font-size:12px;
max-width:369px;
margin-top:12px;
margin-left:0px; 
}



QDialog#SendCoinsDialog {
background-color:#fff;
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl { 
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl > .QLabel { 
font-weight:normal;
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QPushButton#pushButtonCoinControl { 
padding-left:10px;
padding-right:10px;
min-height:25px;
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QLabel#labelCoinControlFeatures { 
color:#2c99ad;
font-weight:bold;
font-size:14px;
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QWidget#widgetCoinControl { 
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QWidget#widgetCoinControl > .QLabel { 
padding:2px;
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QCheckBox#checkBoxCoinControlChange { 
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QValidatedLineEdit#lineEditCoinControlChange { 
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QLabel#labelCoinControlChangeLabel { 
font-weight:normal;
qproperty-margin:-6;
margin-right:112px;
}

QDialog#SendCoinsDialog .QScrollArea#scrollArea .QWidget#scrollAreaWidgetContents { 
background:transparent;
}

QDialog#SendCoinsDialog .QPushButton#sendButton { 
padding-left:10px;
padding-right:10px;
}

QDialog#SendCoinsDialog .QPushButton#clearButton { 
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 128), stop: .95 rgba(250, 250, 250, 255), stop: 1 #ebebeb);
border:1px solid #d2d2d2;
color:#616161;
padding-left:10px;
padding-right:10px;
}

QDialog#SendCoinsDialog .QPushButton#clearButton:hover {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 255), stop: .95 rgba(240, 240, 240, 255), stop: 1 #ebebeb);
color:#333;
}

QDialog#SendCoinsDialog .QPushButton#clearButton:pressed {
border:1px solid #9e9e9e;
}

QDialog#SendCoinsDialog .QPushButton#addButton { 
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 128), stop: .95 rgba(250, 250, 250, 255), stop: 1 #ebebeb);
border:1px solid #d2d2d2;
color:#616161;
padding-left:10px;
padding-right:10px;
}

QDialog#SendCoinsDialog .QPushButton#addButton:hover {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 255), stop: .95 rgba(240, 240, 240, 255), stop: 1 #ebebeb);
color:#333;
}

QDialog#SendCoinsDialog .QPushButton#addButton:pressed {
border:1px solid #9e9e9e;
}

QDialog#SendCoinsDialog .QCheckBox#checkUseObfuscation { 
color:#616161;
font-weight:bold;
background:transparent;

border-radius:5px;
padding-top:20px;
padding-bottom:18px;
}

QDialog#SendCoinsDialog .QCheckBox#checkSwiftTX { 
color:#616161;
font-weight:bold;
background:transparent;

border-radius:5px;
padding-top:20px;
padding-bottom:18px;
margin-left:10px;
margin-right:20px;
}




QDialog#SendCoinsDialog QLabel#label {
/*margin-left:20px;
margin-right:-2px;
padding-right:-2px;
color:#616161;
font-size:14px;
font-weight:bold;
border-radius:5px;
padding-top:20px;
padding-bottom:20px;*/
min-height:27px;
}

QDialog#SendCoinsDialog QLabel#labelBalance {
margin-left:0px;
padding-left:0px;
color:#333333;
/* font-weight:bold;
border-radius:5px;
padding-top:20px;
padding-bottom:20px; */
min-height:27px;
}



QStackedWidget#SendCoinsEntry .QFrame#SendCoins > .QLabel { 
background-color:#2c99ad;
min-width:102px;
font-weight:bold;
font-size:11px;
color:#ffffff;
min-height:25px;
margin-right:5px;
padding-right:5px;
}

QStackedWidget#SendCoinsEntry .QFrame#SendCoins .QLabel#amountLabel {
background-color:#6a6a6a;
}

QStackedWidget#SendCoinsEntry .QValidatedLineEdit#payTo { 
}

QStackedWidget#SendCoinsEntry .QToolButton { 
background-color:transparent;
padding-left:5px;
padding-right:5px;
border: 0;
outline: 0;
}

QStackedWidget#SendCoinsEntry .QToolButton#addressBookButton { 
padding-left:10px;
}

QStackedWidget#SendCoinsEntry .QToolButton#addressBookButton {
}

QStackedWidget#SendCoinsEntry .QToolButton#pasteButton {
}

QStackedWidget#SendCoinsEntry .QToolButton#deleteButton {
}

QStackedWidget#SendCoinsEntry .QLineEdit#addAsLabel { 
}



QDialog#CoinControlDialog .QLabel#labelCoinControlQuantityText { 
min-height:30px;
padding-left:15px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlQuantity { 
min-height:30px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlBytesText { 
padding-left:15px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlBytes { 
}

QDialog#CoinControlDialog .QLabel#labelCoinControlAmountText { 
min-height:30px;
padding-left:15px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlAmount { 
min-height:30px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlPriorityText { 
padding-left:15px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlPriority { 
}

QDialog#CoinControlDialog .QLabel#labelCoinControlFeeText { 
min-height:30px;
padding-left:15px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlFee { 
min-height:30px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlLowOutputText { 
padding-left:15px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlLowOutput { 
}

QDialog#CoinControlDialog .QLabel#labelCoinControlAfterFeeText { 
min-height:30px;
padding-left:15px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlAfterFee { 
min-height:30px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlChangeText { 
padding-left:15px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlChange { 

}

QDialog#CoinControlDialog .QFrame#frame .QPushButton#pushButtonSelectAll { 
padding-left:10px;
padding-right:10px;
min-height:25px;
}

QDialog#CoinControlDialog .QFrame#frame .QPushButton#pushButtonToggleLock { 
padding-left:10px;
padding-right:10px;
min-height:25px;
}

QDialog#CoinControlDialog .QDialogButtonBox#buttonBox QPushButton { 
}

QDialog#CoinControlDialog .QFrame#frame .QRadioButton#radioTreeMode { 
color:#818181;
background-color:transparent;
}

QDialog#CoinControlDialog .QFrame#frame .QRadioButton#radioListMode { 
color:#818181;
background-color:transparent;
}

QDialog#CoinControlDialog QHeaderView::section:first { 
color:transparent;
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget { 
outline:0;
background-color:#ffffff;
border:1px solid #333;
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::item {
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::item:selected { 
background-color:#2c99ad;
color:#fff;
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::item:checked { 
background-color:#f7f7f7;
color:#fff;
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::branch:selected { 
background-image: url(':/images/qtreeview_selected');
background-repeat:no-repeat;
background-position:center;
background-color:#f7f7f7;
color:#333;
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::branch:checked { 
background-image: url(':/images/qtreeview_selected');
background-repeat:no-repeat;
background-position:center;
background-color:#f7f7f7;
color:#333;
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::seperator {

}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::indicator { 

}



QWidget#ReceiveCoinsDialog {
background-color:#fff;
}

QWidget#ReceiveCoinsDialog .QFrame#frame2 .QLabel#label_2 { 
background-color:#2c99ad;
min-width:102px;
color:#ffffff;
font-weight:bold;
font-size:11px;
padding-right:5px;
}

QWidget#ReceiveCoinsDialog .QFrame#frame2 .QLabel#label { 
background-color:#6a6a6a;
min-width:102px;
color:#ffffff;
font-weight:bold;
font-size:11px;
padding-right:5px;
}

QWidget#ReceiveCoinsDialog .QFrame#frame2 .QLabel#label_3 { 
background-color:#2c99ad;
min-width:102px;
color:#ffffff;
font-weight:bold;
font-size:11px;
padding-right:5px;
}

QWidget#ReceiveCoinsDialog .QFrame#frame2 QPushButton#clearButton { 
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 128), stop: .95 rgba(250, 250, 250, 255), stop: 1 #ebebeb);
border:1px solid #d2d2d2;
color:#616161;
padding-left:10px;
padding-right:10px;
}

QWidget#ReceiveCoinsDialog .QFrame#frame2 QPushButton#clearButton:hover {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 255), stop: .95 rgba(240, 240, 240, 255), stop: 1 #ebebeb);
color:#333;
}

QWidget#ReceiveCoinsDialog .QFrame#frame2 QPushButton#clearButton:pressed {
border:1px solid #9e9e9e;
}

QWidget#ReceiveCoinsDialog .QFrame#frame QPushButton#showRequestButton { 
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 128), stop: .95 rgba(250, 250, 250, 255), stop: 1 #ebebeb);
border:1px solid #d2d2d2;
color:#616161;
padding-left:10px;
padding-right:10px;
}

QWidget#ReceiveCoinsDialog .QFrame#frame QPushButton#showRequestButton:hover {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 255), stop: .95 rgba(240, 240, 240, 255), stop: 1 #ebebeb);
color:#333;
}

QWidget#ReceiveCoinsDialog .QFrame#frame QPushButton#showRequestButton:pressed {
border:1px solid #9e9e9e;
}

QWidget#ReceiveCoinsDialog .QFrame#frame QPushButton#removeRequestButton { 
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 128), stop: .95 rgba(250, 250, 250, 255), stop: 1 #ebebeb);
border:1px solid #d2d2d2;
color:#616161;
padding-left:10px;
padding-right:10px;
}

QWidget#ReceiveCoinsDialog .QFrame#frame QPushButton#removeRequestButton:hover {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 255), stop: .95 rgba(240, 240, 240, 255), stop: 1 #ebebeb);
color:#333;
}

QWidget#ReceiveCoinsDialog .QFrame#frame QPushButton#removeRequestButton:pressed {
border:1px solid #9e9e9e;
}

QWidget#ReceiveCoinsDialog .QFrame#frame .QLabel#label_6 { 
color:#2c99ad;
font-weight:bold;
font-size:14px;
}



QDialog#ReceiveRequestDialog QTextEdit { 
border:1px solid #d7d7d7;
}



TransactionView QLineEdit { 
margin-bottom:2px;
margin-right:1px;
min-width:111px;
text-align:center;
}

TransactionView QComboBox {
margin-bottom:1px;
margin-right:1px;
}

QLabel#transactionSumLabel { 
color:#333333;
font-weight:bold;
}
 
QLabel#transactionSum { 
color:#333333;
}



QDialog#TransactionDescDialog QTextEdit { 
border:1px solid #d7d7d7;
}



QCalendarView {
border:1px solid #333;
}

QCalendarWidget QWidget#qt_calendar_navigationbar { 
background-color:#2c99ad;
font-weight:bold;
}

QCalendarWidget QAbstractItemView { 
alternate-background-color:#dedbe5;
background-color:#fff;
}

QCalendarWidget QAbstractItemView:enabled { 
color:#333;
}

QCalendarWidget QAbstractItemView:disabled { 
color:#818181;
}
